body {
    background: #685268;
    overflow: hidden;
}

div {
    top: 15%;
    width: 70%;
    margin-left: 15%;
    aspect-ratio: 4/3;
    position: absolute;
}

canvas {
    width: 100%;
    background:black;
    object-fit: contain;
    image-rendering: pixelated;
    display: block;
}